html {
	font-size: 100%;
}

body {
	font: 600 1rem/1.6 "Roboto", sans-serif;
}

.font-alt {
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post-columns .post-title {
	line-height: 2.3rem;
	font-size: 1.3rem;
}

.pagination .active {
	background: #111;
	color: #fff;
}
.tags a {
	font-size: 0.9rem;
}
.link-post {
	padding-top: 20px;
	padding-bottom: 0;
}
.link-post .title-block {
	border-bottom: 1px dotted #c2c2c2;
	font-size: 1.2rem;
	color: #111;
	padding-bottom: 15px;
	margin: 0 0 20px;
}
.post-title-link {
	font-size: 1rem;
	line-height: 1.6rem;
}